<div class="row form-section card-section visible-section" role="tabpanel">
	<div class="section-body">
		<div class="form-column col-sm-12">
			<table class="vehicle-table">
				<thead>
					<tr>
						<th style="width:8%">{%= __("Project") %}</th>
						<th style="width:12%">{%= __("Vehicle") %}</th>
						<th style="width:15%">{%= __("Customer") %}</th>
						<th>{%= __("Voice of Customer") %}</th>
						<th style="width:10%">{%= __("Service Advisor") %}</th>
						<th style="width:10%">{%= __("Status") %}</th>
						<th style="width:8%">{%= __("Expected Delivery") %}</th>
						<th style="width:5%" class="action-buttons-column"></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>