<tr>
	<td class="text-nowrap">
		<div>
			<a href="{{ frappe.utils.get_form_link('Project', doc.project) }}" class="show-project"
				data-project="{{ doc.project }}" target="_blank">
				{{ doc.project }}
			</a>
		</div>
		<div class="indicator {{ doc.project_status_color }}">{{ doc.tasks_status }}</div>
	</td>

	<td>
		<div>
			{% if doc.applies_to_variant_of_name %}
				{{ doc.applies_to_variant_of_name }}
			{% else %}
				{{ doc.applies_to_item_name }}
			{% endif %}
		</div>
		<div>
			<a href="{{ frappe.utils.get_form_link('Vehicle', doc.applies_to_vehicle) }}" target="_blank">
				{% if doc.vehicle_license_plate %}
					{{ doc.vehicle_license_plate }}
				{% else %}
					{{ doc.vehicle_chassis_no }}
				{% endif %}
			</a>
		</div>
	</td>

	<td>
		<a href="{{ frappe.utils.get_form_link('Task', doc.task) }}" target="_blank">
			{{ doc.subject }}
		</a>
	</td>

	<td class="text-center">{{ doc.expected_time }}</td>

	<td class="text-center text-nowrap">
	{% if doc.start_dt %}
		<div>{{ frappe.datetime.str_to_user(doc.start_dt, false, true) }}</div>
		<div>{{ moment(doc.start_dt).format('hh:mm A') }}</div>
	{% endif %}
	</td>

	<td class="text-center text-nowrap">
	{% if doc.end_dt %}
		<div>{{ frappe.datetime.str_to_user(doc.end_dt, false, true) }}</div>
		<div>{{ moment(doc.end_dt).format('hh:mm A') }}</div>
	{% endif %}
	</td>

	<td class="text-center">{{ flt(doc.time_elapsed) ? flt(doc.time_elapsed, 2) : '' }}</td>

	<td>
		{{ doc.assigned_to_name }}
	</td>

	<td class="text-nowrap">
		<span class="indicator {{ doc.task_status_color }}">{{ doc.status }}</span>
	</td>

	<td class="text-center text-nowrap action-buttons-column">
		<div class="inner-group-button show">
			<button type="button" class="btn btn-default btn-sm" data-toggle="dropdown">Actions
				<svg class="icon icon-xs">
					<use class="" href="#icon-select"></use>
				</svg>
			</button>
			<div role="menu" class="dropdown-menu dropdown-menu-right">
				{% if doc.actions.start_task %}
					<button class="dropdown-item start_task" data-task="{{ doc.task }}">
						{{ __("Start Task") }}
					</button>
				{% endif %}

				{% if doc.actions.complete_task %}
					<button class="dropdown-item complete_task" data-task="{{ doc.task }}">
						{{ __("Complete Task") }}
					</button>
				{% endif %}

				{% if doc.actions.pause_task %}
					<button class="dropdown-item pause_task" data-task="{{ doc.task }}">
						{{ __("Pause Task") }}
					</button>
				{% endif %}

				{% if doc.actions.resume_task %}
					<button class="dropdown-item resume_task" data-task="{{ doc.task }}">
						{{ __("Resume Task") }}
					</button>
				{% endif %}

				<div class="dropdown-divider"></div>

				{% if (doc.actions.assign_technician) { %}
					<button class="dropdown-item assign_technician" data-task="{{ doc.task }}">
						{{ __("Assign Technician") }}
					</button>
				{% } else if (doc.actions.reassign_technician) { %}
					<button class="dropdown-item reassign_technician" data-task="{{ doc.task }}">
						{{ __("Re-Assign Technician") }}
					</button>
				{% endif %}

				<div class="dropdown-divider"></div>

				{% if doc.actions.edit_task %}
					<button class="dropdown-item edit_task" data-task="{{ doc.task }}">
						{{ __("Edit Task") }}
					</button>
				{% endif %}

				{% if doc.actions.cancel_task %}
					<button class="dropdown-item cancel_task" data-task="{{ doc.task }}">
						{{ __("Cancel Task") }}
					</button>
				{% endif %}
			</div>
		</div>
	</td>
</tr>