<div class="row form-section card-section visible-section" role="tabpanel">
	<div class="section-body">
		<div class="form-column col-sm-12">
			<table class="task-table">
				<thead>
					<tr>
						<th style="width:8%">{%= __("Project") %}</th>
						<th style="width:12%">{%= __("Vehicle") %}</th>
						<th>{%= __("Task") %}</th>
						<th style="width:5%" class="text-center">{%= __("Standard") %}<br>({%= __("Hrs") %})</th>
						<th style="width:7%" class="text-center">{%= __("Start Time") %}</th>
						<th style="width:7%" class="text-center">{%= __("End Time") %}</th>
						<th style="width:5%" class="text-center">{%= __("Elapsed") %}<br>({%= __("Hrs") %})</th>
						<th style="width:10%">{%= __("Technician") %}</th>
						<th style="width:8%">{%= __("Status") %}</th>
						<th style="width:5%" class="action-buttons-column"></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
