.workshop-cp {
	table {
		width: 100%;
		margin-top: var(--margin-xs);
		margin-bottom: var(--margin-sm);
		font-size: 9.5pt;

		td, th {
			padding: 6px;
		}

		th {
			background-color: var(--gray-100);
			border: 1px solid var(--dark-border-color);
			border-bottom: 2px solid var(--dark-border-color);
		}

		td {
			border: 1px solid var(--table-border-color);
			vertical-align: top;
		}

		td.action-buttons-column {
			padding: 6px 8px;
			vertical-align: middle;
		}

		tr:nth-child(even) td {
			background-color: var(--gray-50);
		}
	}

	.frappe-list {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 10px 15px;
	}

	.form-tabs-list {
		border-top: 1px solid #DCE0E3;
		position: relative;
		z-index: 0;
	}

	.refresh-container {
		font-size: 0.8rem;
	}
}